<a href="https://colab.research.google.com/github/ucpcpu/Data-Science/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Getting Datasets

In [ ]:
heart_data=pd.read_csv("/content/HeartDiseaseTrain-Test.csv")

#printing first five rows
heart_data.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [ ]:
print(heart_data["chest_pain_type"])
print(heart_data["chest_pain_type"].value_counts())

#conversion of chest_pain_type
q=heart_data["chest_pain_type"]
w=[]
for i in q:
    if i == "Typical angina":
        w.append(0)
    elif i=="Atypical angina":
        w.append(1)
    elif i=="Non-anginal pain":
        w.append(2)
    else:
        w.append(3)

heart_data["chest_pain_type"]=w
print(heart_data["chest_pain_type"].value_counts())

print(heart_data["fasting_blood_sugar"])
print(heart_data["fasting_blood_sugar"].value_counts())

#conversion of fasting_blood_sugar
e=heart_data["fasting_blood_sugar"]
r=[]
for i in e:
    if i == "Lower than 120 mg/ml":
        r.append(1)
    else:
        r.append(0)
heart_data["fasting_blood_sugar"]=r

heart_data["fasting_blood_sugar"]=r
print(heart_data["fasting_blood_sugar"].value_counts())

print(heart_data["rest_ecg"])
print(heart_data["rest_ecg"].value_counts())

#conversion of rest_ecg
z=heart_data["rest_ecg"]
c=[]
for i in z:
    if i == "ST-T wave abnormality":
         c.append(0)
    elif i=="Normal":
         c.append(1)
    elif i=="Left ventricular hypertrophy":
         c.append(2)

heart_data["rest_ecg"]=c
print(heart_data["rest_ecg"].value_counts())

print(heart_data["slope"])
print(heart_data["slope"].value_counts())

#conversion of slope
m=heart_data["slope"]
n=[]
for i in m:
    if i == "Flat":
        n.append(1)
    elif i=="Downsloping":
        n.append(2)
    elif i=="Upsloping":
        n.append(3)
heart_data["slope"]=n

heart_data["slope"]=n
print(heart_data["slope"].value_counts())

print(heart_data["vessels_colored_by_flourosopy"])
print(heart_data["vessels_colored_by_flourosopy"].value_counts())


#conversion of vessels_colored_by_flourosopy
g=heart_data["vessels_colored_by_flourosopy"]
h=[]
for i in g:
    if i == "Zero":
        h.append(0)
    elif i=="One":
         h.append(1)
    elif i=="Two":
         h.append(2)
    elif i=="Three":
         h.append(3)
    elif i=="Four":
         h.append(4)
print(h)
heart_data["vessels_colored_by_flourosopy"]=h
print(heart_data["vessels_colored_by_flourosopy"].value_counts())

print(heart_data["thalassemia"])
print(heart_data["thalassemia"].value_counts())

#conversion of thalassemia
d=heart_data["thalassemia"]
f=[]
for i in d:
    if i == "Fixed Defect":
        f.append(1)
    elif i == "Reversable Defect":
         f.append(2)
    elif i == "Normal":
         f.append(3)
    elif i == "No":
         f.append(4)

heart_data["thalassemia"]=f
print(heart_data["thalassemia"].value_counts())

print(heart_data["exercise_induced_angina"])
print(heart_data["exercise_induced_angina"].value_counts())

#conversion of exercise_induced_angina
u=heart_data["exercise_induced_angina"]
o=[]
for i in u:
    if i == "Yes":
        o.append(0)
    else:
        o.append(1)
heart_data["exercise_induced_angina"]=o

heart_data["exercise_induced_angina"]=o
print(heart_data["exercise_induced_angina"].value_counts())

print(heart_data["sex"])
print(heart_data["sex"].value_counts())
#conversion of sex
k=heart_data["sex"]
l=[]
for i in k:
    if i == "Male":
        l.append(1)
    else:
        l.append(0)
heart_data["sex"]=l
print(heart_data["sex"])

0        Typical angina
1        Typical angina
2        Typical angina
3        Typical angina
4        Typical angina
             ...
1020    Atypical angina
1021     Typical angina
1022     Typical angina
1023     Typical angina
1024     Typical angina
Name: chest_pain_type, Length: 1025, dtype: object
Typical angina      497
Non-anginal pain    284
Atypical angina     167
Asymptomatic         77
Name: chest_pain_type, dtype: int64
0    497
2    284
1    167
3     77
Name: chest_pain_type, dtype: int64
0         Lower than 120 mg/ml
1       Greater than 120 mg/ml
2         Lower than 120 mg/ml
3         Lower than 120 mg/ml
4       Greater than 120 mg/ml
                 ...
1020      Lower than 120 mg/ml
1021      Lower than 120 mg/ml
1022      Lower than 120 mg/ml
1023      Lower than 120 mg/ml
1024      Lower than 120 mg/ml
Name: fasting_blood_sugar, Length: 1025, dtype: object
Lower than 120 mg/ml      872
Greater than 120 mg/ml    153
Name: fasting_blood_sugar, dtype: int64
1    872
0    153
Name: fasting_blood_sugar, dtype: int64
0       ST-T wave abnormality
1                      Normal
2       ST-T wave abnormality
3       ST-T wave abnormality
4       ST-T wave abnormality
                ...
1020    ST-T wave abnormality
1021                   Normal
1022                   Normal
1023                   Normal
1024    ST-T wave abnormality
Name: rest_ecg, Length: 1025, dtype: object
ST-T wave abnormality           513
Normal                          497
Left ventricular hypertrophy     15
Name: rest_ecg, dtype: int64
0    513
1    497
2     15
Name: rest_ecg, dtype: int64
0       Downsloping
1         Upsloping
2         Upsloping
3       Downsloping
4              Flat
           ...
1020    Downsloping
1021           Flat
1022           Flat
1023    Downsloping
1024           Flat
Name: slope, Length: 1025, dtype: object
Flat           482
Downsloping    469
Upsloping       74
Name: slope, dtype: int64
1    482
2    469
3     74
Name: slope, dtype: int64
0         Two
1        Zero
2        Zero
3         One
4       Three
        ...
1020     Zero
1021      One
1022      One
1023     Zero
1024      One
Name: vessels_colored_by_flourosopy, Length: 1025, dtype: object
Zero     578
One      226
Two      134
Three     69
Four      18
Name: vessels_colored_by_flourosopy, dtype: int64
[2, 0, 0, 1, 3, 0, 3, 1, 0, 2, 0, 0, 0, 3, 0, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 0, 0, 4, 3, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0, 3, 0, 1, 1, 1, 2, 0, 2, 2, 1, 1, 1, 3, 0, 4, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 0, 1, 2, 2, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 1, 2, 0, 3, 0, 0, 0, 0, 0, 3, 0, 3, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0, 1, 1, 2, 2, 0, 2, 0, 0, 3, 0, 1, 1, 0, 0, 0, 0, 1, 3, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 1, 0, 4, 1, 0, 2, 0, 1, 0, 0, 1, 0, 2, 2, 1, 1, 0, 0, 0, 0, 3, 1, 0, 2, 2, 0, 1, 0, 0, 0, 3, 0, 2, 0, 1, 0, 4, 0, 0, 0, 1, 2, 0, 0, 1, 0, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 2, 1, 0, 2, 0, 0, 4, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 1, 0, 1, 0, 1, 2, 1, 1, 0, 2, 0, 0, 1, 0, 0, 0, 3, 3, 0, 0, 1, 1, 3, 0, 0, 2, 0, 0, 2, 0, 1, 1, 1, 1, 4, 0, 0, 0, 0, 3, 0, 0, 4, 1, 0, 0, 1, 0, 0, 0, 2, 3, 2, 0, 0, 3, 0, 3, 1, 3, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 2, 1, 0, 0, 0, 0, 3, 1, 0, 2, 0, 0, 3, 3, 1, 0, 0, 0, 0, 3, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 3, 0, 0, 1, 4, 0, 0, 1, 0, 0, 2, 3, 0, 1, 0, 4, 0, 0, 3, 1, 0, 0, 0, 0, 2, 0, 0, 0, 2, 1, 0, 0, 0, 3, 1, 0, 1, 3, 0, 2, 0, 3, 1, 0, 0, 0, 0, 3, 2, 0, 0, 0, 4, 0, 1, 0, 3, 0, 0, 0, 0, 0, 1, 3, 1, 0, 3, 0, 3, 3, 0, 2, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 2, 0, 1, 0, 1, 1, 0, 3, 2, 1, 3, 1, 1, 4, 1, 1, 1, 0, 3, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 1, 0, 3, 2, 0, 1, 3, 2, 0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 2, 0, 1, 1, 0, 0, 3, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2, 0, 2, 1, 2, 1, 2, 2, 1, 0, 4, 0, 2, 1, 2, 0, 2, 0, 1, 1, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 2, 1, 2, 3, 2, 0, 3, 2, 0, 2, 1, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, 0, 0, 0, 3, 0, 2, 1, 0, 3, 1, 1, 1, 0, 0, 0, 0, 2, 0, 0, 3, 0, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 3, 0, 0, 1, 0, 1, 2, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 1, 2, 2, 1, 0, 0, 3, 4, 1, 0, 0, 2, 0, 4, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 0, 3, 0, 0, 0, 2, 2, 0, 0, 1, 2, 0, 0, 1, 2, 3, 3, 1, 1, 1, 2, 0, 2, 0, 0, 3, 0, 0, 2, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2, 1, 2, 1, 0, 1, 0, 0, 1, 0, 1, 0, 4, 1, 0, 0, 3, 0, 0, 1, 0, 0, 0, 1, 0, 2, 1, 0, 1, 0, 1, 0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 0, 1, 1, 0, 0, 3, 1, 0, 2, 3, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 2, 1, 0, 1, 0, 0, 2, 0, 1, 2, 0, 0, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 2, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 2, 0, 1, 1, 0, 0, 3, 1, 0, 0, 0, 3, 0, 1, 1, 2, 0, 0, 3, 0, 0, 0, 2, 0, 0, 0, 4, 0, 0, 0, 0, 0, 2, 0, 1, 3, 0, 0, 2, 1, 0, 3, 0, 1, 2, 2, 0, 2, 0, 4, 1, 0, 2, 1, 0, 2, 2, 0, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 1, 2, 0, 0, 0, 1, 1, 0, 1]
0    578
1    226
2    134
3     69
4     18
Name: vessels_colored_by_flourosopy, dtype: int64
0       Reversable Defect
1       Reversable Defect
2       Reversable Defect
3       Reversable Defect
4            Fixed Defect
              ...
1020         Fixed Defect
1021    Reversable Defect
1022         Fixed Defect
1023         Fixed Defect
1024    Reversable Defect
Name: thalassemia, Length: 1025, dtype: object
Fixed Defect         544
Reversable Defect    410
Normal                64
No                     7
Name: thalassemia, dtype: int64
1    544
2    410
3     64
4      7
Name: thalassemia, dtype: int64
0        No
1       Yes
2       Yes
3        No
4        No
       ...
1020    Yes
1021    Yes
1022    Yes
1023     No
1024     No
Name: exercise_induced_angina, Length: 1025, dtype: object
No     680
Yes    345
Name: exercise_induced_angina, dtype: int64
1    680
0    345
Name: exercise_induced_angina, dtype: int64
0         Male
1         Male
2         Male
3         Male
4       Female
         ...
1020      Male
1021      Male
1022      Male
1023    Female
1024      Male
Name: sex, Length: 1025, dtype: object
Male      713
Female    312
Name: sex, dtype: int64
0       1
1       1
2       1
3       1
4       0
       ..
1020    1
1021    1
1022    1
1023    0
1024    1
Name: sex, Length: 1025, dtype: int64

Converting

In [ ]:
#printing last 5 rows
heart_data.tail()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
1020,59,1,1,140,221,1,0,164,0,0.0,2,0,1,1
1021,60,1,0,125,258,1,1,141,0,2.8,1,1,2,0
1022,47,1,0,110,275,1,1,118,0,1.0,1,1,1,0
1023,50,0,0,110,254,1,1,159,1,0.0,2,0,1,1
1024,54,1,0,120,188,1,0,113,1,1.4,1,1,2,0

In [ ]:
#number of rows and columns in the dataset
heart_data.shape

(1025, 14)

In [ ]:
#getting some information
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            1025 non-null   int64
 1   sex                            1025 non-null   int64
 2   chest_pain_type                1025 non-null   int64
 3   resting_blood_pressure         1025 non-null   int64
 4   cholestoral                    1025 non-null   int64
 5   fasting_blood_sugar            1025 non-null   int64
 6   rest_ecg                       1025 non-null   int64
 7   Max_heart_rate                 1025 non-null   int64
 8   exercise_induced_angina        1025 non-null   int64
 9   oldpeak                        1025 non-null   float64
 10  slope                          1025 non-null   int64
 11  vessels_colored_by_flourosopy  1025 non-null   int64
 12  thalassemia                    1025 non-null   int64
 13  target                         1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
#checking for missing values
heart_data.isnull().sum()

age                              0
sex                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
dtype: int64

In [ ]:
# statistical measurea about the data
heart_data.describe()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.850732,0.514146,149.114146,0.663415,1.071512,1.601951,0.754146,1.545366,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.528527,23.005724,0.472772,1.175053,0.619977,1.030798,0.643583,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,1.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,1.000000,0.000000,152.000000,1.000000,0.800000,2.000000,0.000000,1.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,1.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000,4.000000,1.000000

In [ ]:
#checking the distribution
heart_data["target"].value_counts()

1    526
0    499
Name: target, dtype: int64

1 implies that person has a heart disease


0 implies that person doesnot have any heart disease

Splittiing the data set

In [ ]:
X=heart_data.drop(columns="target", axis=1)
y=heart_data["target"]
print(X)
print(y)

      age  sex  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52    1                0                     125          212
1      53    1                0                     140          203
2      70    1                0                     145          174
3      61    1                0                     148          203
4      62    0                0                     138          294
...   ...  ...              ...                     ...          ...
1020   59    1                1                     140          221
1021   60    1                0                     125          258
1022   47    1                0                     110          275
1023   50    0                0                     110          254
1024   54    1                0                     120          188

      fasting_blood_sugar  rest_ecg  Max_heart_rate  exercise_induced_angina  \
0                       1         0             168                        1
1                       0         1             155                        0
2                       1         0             125                        0
3                       1         0             161                        1
4                       0         0             106                        1
...                   ...       ...             ...                      ...
1020                    1         0             164                        0
1021                    1         1             141                        0
1022                    1         1             118                        0
1023                    1         1             159                        1
1024                    1         0             113                        1

      oldpeak  slope  vessels_colored_by_flourosopy  thalassemia
0         1.0      2                              2            2
1         3.1      3                              0            2
2         2.6      3                              0            2
3         0.0      2                              1            2
4         1.9      1                              3            1
...       ...    ...                            ...          ...
1020      0.0      2                              0            1
1021      2.8      1                              1            2
1022      1.0      1                              1            1
1023      0.0      2                              0            1
1024      1.4      1                              1            2

[1025 rows x 13 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [ ]:
#train test split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, stratify=y,random_state=2)
print(X.shape,X_train.shape, X_test.shape)
print(y_test)

(1025, 13) (820, 13) (205, 13)
845    0
542    1
147    0
711    0
724    1
      ..
889    0
563    0
654    1
943    1
734    0
Name: target, Length: 205, dtype: int64

Model training using Logistic Regression

In [ ]:
model=LogisticRegression()
#training the logistic regression model with training data
model.fit(X_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)
print("Accuracy on training Data:", training_data_accuracy)

Accuracy on training Data: 0.8597560975609756

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,y_test)
print("Accuracy on test Data:", test_data_accuracy)

Accuracy on test Data: 0.8439024390243902

In [ ]:
heart_data.tail()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
1020,59,1,1,140,221,1,0,164,0,0.0,2,0,1,1
1021,60,1,0,125,258,1,1,141,0,2.8,1,1,2,0
1022,47,1,0,110,275,1,1,118,0,1.0,1,1,1,0
1023,50,0,0,110,254,1,1,159,1,0.0,2,0,1,1
1024,54,1,0,120,188,1,0,113,1,1.4,1,1,2,0

Building a Predictive System

In [ ]:
input_data=(	61,	1,	0,	148,	203,	1,	0,	161,	1,	0.0,	2,	1,	2)
#input data as arraay
input_data_as_numpy_array=np.asarray(input_data)
#reshaping array as we are predicting for one datapoint
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)
if  prediction[0]==0:
  print("The person does not have a heart disease")
else :
  print("The person does have a heart disease")

[0]
The person does not have a heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
input_data=(	50,	0,	0,	110,	254,	1,	1,	159,	1,	0.0,	2,	0,	1	)
#input data as arraay
input_data_as_numpy_array=np.asarray(input_data)
#reshaping array as we are predicting for one datapoint
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)
if  prediction[0]==0:
  print("The person does not have a heart disease")
else :
  print("The person  have a heart disease")

[1]
The person  have a heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(